/*header*/
.header-logo {
  max-height: 70px;
  transition: 0.4s;
}
.header-logo:hover {
  transform: scale(1.1);
}

/*navbarf*/
.lista li:hover {
  background-color: rgb(255 221 21);
  border-radius: 20px;
  box-shadow: 0 0 10px #141414, 0 0 20px #ececec, 0 0 20px #ddd000;
}

/*carousel*/
.carousel-inner img {
  height: 65vh;
  object-fit: cover;
}
.carousel-item {
  position: relative;
}
.carousel-parrafo {
  position: absolute;
  color: #fff;
  text-shadow: 0 0 8px #000;
  font-size: 1.2rem;
  font-weight: bold;
  bottom: 25px;
  left: 30px;
  right: 25px;
}

/* grid */
.contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 180px;
  grid-gap: 10px;
  padding: 20px;
  margin-top: 50px;
}
.contenedor-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-galeria img:nth-child(1) {
  grid-row-start: span 2;
}
.contenedor-galeria img:nth-child(2) {
  grid-column-start: span 2;
}
.contenedor-galeria img:nth-child(6) {
  grid-row-start: span 2;
}
.contenedor-galeria img:nth-child(8) {
  grid-column-start: span 2;
}
.contenedor-galeria img:nth-child(11) {
  grid-column-start: span 2;
}

@media (max-width: 480px) {
  .contenedor-galeria {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .contenedor-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-galeria img:nth-child(1) {
    grid-row-start: span 1;
  }
  .contenedor-galeria img:nth-child(1) {
    grid-row-start: span 1;
  }
  .contenedor-galeria img:nth-child(1),
  .contenedor-galeria img:nth-child(6) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .contenedor-galeria {
    grid-template-columns: repeat(3, 1fr);
  }
  .contenedor-galeria img:nth-child(6) {
    grid-row-start: span 1;
  }
}

/*footer*/
.sociales-footer i:hover {
  text-shadow: 0 0 10px #141414, 0 0 20px #ececec, 0 0 20px #ddd000;
}

/*seccion nosotros*/
.seccion-nosotros img,
.aside-nosotros img {
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
.aside-nosotros span {
  color: grey;
}

/*formulario*/
.formulario {
  background-image: url(../assets/31.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 20px;
}
.input-formulario {
  background-color: rgba(255, 255, 255, 0,8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border: none;
}
.form-parrafo {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
.btn-formulario:hover {
  box-shadow: 0 0 20px #ddd000;
}

/*mapa*/
.mapa {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
